.filter-visibility-btn {
  margin: 12px;
}

.filter-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;

  .date-picker-wrapper,
  .filter-input-wrapper {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
}
